@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
    overflow-x: hidden;
  }

  body {
    overflow-x: hidden;
    width: 100%;
    min-width: 320px;
  }
}
